h1 {
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
h3 {
  font-size: 1.25rem;
  font-weight: bold;
}
h4 {
  font-size: 1.15rem;
  font-weight: bold;
}

.app {
  background: rgba(0,0,0,0.05);
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) repeat(12, minmax(1rem, 6rem)) minmax(1rem, 1fr);
}

header {
  grid-column: 1 / -1;
}

.team-table {
  grid-column: 2 / -2;
}